[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Ryzhikova/python-first-part/blob/main/path/to/Task1_dmrf_files.ipynb)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Задание" data-toc-modified-id="Задание-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Задание</a></span></li><li><span><a href="#Задание-*" data-toc-modified-id="Задание-*-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Задание *</a></span><ul class="toc-item"><li><span><a href="#Список-объектов" data-toc-modified-id="Список-объектов-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Список объектов</a></span></li></ul></li><li><span><a href="#Данные-по-определенному-объекту" data-toc-modified-id="Данные-по-определенному-объекту-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Данные по определенному объекту</a></span><ul class="toc-item"><li><span><a href="#Cохранение-информации-в-pandas-dataframe" data-toc-modified-id="Cохранение-информации-в-pandas-dataframe-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Cохранение информации в pandas dataframe</a></span></li><li><span><a href="#Сохранение-pandas-dataframe-в-excel" data-toc-modified-id="Сохранение-pandas-dataframe-в-excel-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Сохранение pandas dataframe в excel</a></span></li><li><span><a href="#Сохранение-pandas-dataframe-в-pickle" data-toc-modified-id="Сохранение-pandas-dataframe-в-pickle-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Сохранение pandas dataframe в pickle</a></span></li><li><span><a href="#Сохранение-pandas-dataframe-в-БД" data-toc-modified-id="Сохранение-pandas-dataframe-в-БД-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Сохранение pandas dataframe в БД</a></span></li></ul></li></ul></div>

# Задание
* Собрать информацию о всех строящихся объектах на сайте "наш.дом.рф"
* Cохранить ее в pandas dataframe
* Cохранить pandas dataframe в excel
* Cохранить pandas dataframe в pickle
* Cохранить pandas dataframe в БД

# Задание *
* Написать скрипт, который скачивает фотографии всех строящихся объектов с сайта "наш.дом.рф"

In [1]:
import requests

## Список объектов

In [34]:
offset_ = 0
limit_ = 100
objids = []

while offset_<10527:
    url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
    res = requests.get(url)
    objects_data = res.json()
    objects_list = objects_data.get('data').get('list')
    objids = objids + [x.get('objId') for x in objects_list]
    offset_ = offset_ + limit_

In [35]:
len(objids)

10527

# Данные по определенному объекту

## Cохранение информации в pandas dataframe

In [59]:
import pandas as pd

df = []
data = pd.DataFrame()

for obj in objids[:1000]:
    url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/object/{obj}'
    res = requests.get(url).json()
    df = pd.json_normalize(res)
    data = data.append(df)

In [60]:
data.head(10)

,errcode,data.id,data.pdId,data.developer.devId,data.developer.devShortCleanNm,data.developer.devShortNm,data.developer.devFullCleanNm,data.developer.problObjCnt,data.developer.buildObjCnt,data.developer.comissObjCnt,...,data.developer.bankruptStage.bankruptStageDesc,data.developer.bankruptStage.bankruptLawUrl,data.developer.orgBankruptMsgDttm,data.metro.id,data.metro.name,data.metro.line,data.metro.color,data.metro.time,data.metro.isWalk,data.metro.colors
0,0,29678,124648,7424,212-2,212-2,212-2,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,29679,124647,7424,212-2,212-2,212-2,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,13383,28105,306,2МЕН ГРУПП,2МЕН ГРУПП,2МЕН ГРУПП,0,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,13391,28101,306,2МЕН ГРУПП,2МЕН ГРУПП,2МЕН ГРУПП,0,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,13397,28141,306,2МЕН ГРУПП,2МЕН ГРУПП,2МЕН ГРУПП,0,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,13398,28141,306,2МЕН ГРУПП,2МЕН ГРУПП,2МЕН ГРУПП,0,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,13399,28141,306,2МЕН ГРУПП,2МЕН ГРУПП,2МЕН ГРУПП,0,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,36912,337586,10296,CЗ СТРОЙРЕСУРС,CЗ СТРОЙРЕСУРС,CПЕЦИАЛИЗИРОВАННЫЙ ЗАСТРОЙЩИК СТРОЙРЕСУРС,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,44076,275899,9115,XXI ВЕК СТРОЙ,XXI ВЕК СТРОЙ,XXI ВЕК СТРОЙ,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0,23494,35375,4074,А-ЛЕКС,А-ЛЕКС,А-ЛЕКС,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Сохранение pandas dataframe в excel

In [61]:
data.to_excel('output.xlsx')

## Сохранение pandas dataframe в pickle

In [62]:
data.to_pickle('output.pkl')

## Сохранение pandas dataframe в БД

In [65]:
import sqlite3 as sql

conn = sql.connect("test_database")

In [66]:
data.to_sql('dom_rf_objects', conn, if_exists='replace', index=False)
conn.commit()
conn.close()

InterfaceError: Error binding parameter 46 - probably unsupported type.